:root{
    --background-color: rgb(80, 55, 22);
    --color:rgb(228, 219, 211);
    --text-align: center;
}
#div_container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap:10px;
}
.grid-item{
    display:flex;
    flex-direction: column;
    border:2px solid #ddd;
    padding:5px;
    overflow: hidden;
    position:relative;
}
.grid-item img{
    max-width: 100%;
    height:100%;
    object-fit: cover;
}
.detail_style{
    max-width:100%;
    font-size: 1em;
    height:2.3rem;
    color:white;
    border-radius: 0.8rem;
    position:absolute;
    margin-top: 10px;
    background-color: rgb(95, 41, 21);
    z-index: 30rem;
    padding-top:0.5rem;
    margin:5rem 0 0 0rem;
    box-shadow: inset 3px 3px rgb(233, 186, 157);
    text-align: center;
    border:none;
}
.detail_style:hover{
    font-size: large;
    box-shadow: inset -4px -4px rgb(213, 157, 122);
    transition: font-size 0.4s,box-shadow 0.4s;
}
.price_detail{
    width:30rem;
    height:40rem;
    position:absolute;
}
#price_and_other_detail{
    width:70%;
    height:90%;
    background-color: rgba(186, 153, 86, 0.652);
    position:absolute;
    color:white;
    font-size: larger;
    font-weight:900;
    z-index:40;
    border-radius:0 2rem 2rem 0;
    padding:2rem;
    box-shadow: inset -2px -2px 5px black,inset 0 2px 5px black;
    transform:translateX(-100rem);
    transition:transform 1s;
}
#money{
    width:10rem;
    height:2rem;
    background-color: var(--background-color);
    text-align: var(--text-align);
    padding:8px 0 0 1px;
    text-decoration: underline;
    margin-top:2rem;
    border-radius: 1rem;
    box-shadow: inset 2px 2px 5px white,inset -2px -2px 5px white;
}
#descri{
    width:25rem;
    height:10rem;
    font-weight: 500;
    text-align: var(--text-align);
    margin-top:2rem;
}
#review{
    width:25rem;
    height:10rem;
    font-weight: 500;
    margin-top:5rem;
}
#btn1,#btn2{
    height:3.5rem;
    width:12rem;
    color:var(--color);
    background-color: var(--background-color);
    font-size: larger;
    font-weight:700;
    margin:1rem 0 0 2rem;
    border-radius: 1rem;
    cursor: pointer;
    border:none;
    box-shadow: inset 2px 2px 5px white,inset -2px -2px 5px white;
}
#btn1:hover,#btn2:hover{
    text-decoration: underline;
    transition: text-decoration 1s;
}
#customer_img{
    width:3rem;
    height:4rem;

}
#close{
    position:relative;
    bottom:25rem;
    left:4.5rem;
    border-radius: 2rem;
    font-weight:bold ;
    font-size: large;
    padding:10px;
    border:none;
    color:var(--color);
    background-color: var(--background-color);
}
#close:hover{
    box-shadow: inset 2px 2px 2px white,inset -2px -2px 2px white;
    color:white;
    cursor:pointer;
}
