*{
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
}
:root{
    --background:linear-gradient(to right,rgb(239, 200, 200),rgb(226, 226, 140));
    --back:linear-gradient(to right,rgb(221, 196, 161),
    rgb(175, 208, 157));
    --background2:repeating-linear-gradient(
        155deg,
        rgb(215, 200, 200) 10px,
        rgb(211, 216, 168) 10px,
        rgb(208, 201, 155) 90px
    );
    --text:rgb(71, 35, 6);
    --shadow:4px 4px 7px rgb(106, 55, 29),-4px -4px 7px rgb(106, 55, 29);
}
#container{
    width:100svw;
    height:100svh;
    background-color: #d1c3a5;
    background-image:url('kraya room/nine.jpg'),url('kraya room/twentySeven.jpg');
    background-repeat: no-repeat;
    background-position: left bottom,right;
    background-size: 15rem,contain;
    background-blend-mode: color-burn;
    display:flex;
}
#box{
    width:50svw;
    height:100svh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left:130px;
}
#text{
    font-size: 10em;
    font-weight: 900;
    background:linear-gradient(to right,rgb(160, 120, 26),rgb(80, 52, 10));
    color: transparent;
    background-clip:text;
    text-shadow: 6px 20px 30px #593a1b;
}

#contact{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    color:white;
}
#contact a{
    color:white;
} 
#con{
    border-bottom:2px double white;
}


#searching{
    width:20rem;
    height:2.4rem;
    border-radius:2rem;
    padding:10px;
    border:4px rgb(83, 61, 19) double;
    outline:none;
    resize:none;
    font-size: 1.1em;
    font-weight: 800;
    color:var(--text);
}
#searching::-webkit-scrollbar{
    display:none;
}
#wrap{
    width:35rem;
    display:flex;
    justify-content: center;
}
input[type='button']{
    border-radius:2rem;
    margin-left:30px;
    border:2px rgb(228, 199, 144) solid;
    box-shadow: var(--shadow);
    color:var(--text);
    padding:10px;
    font-weight: bolder;
    background:var(--background2)
}
input[type='button']:hover{
    box-shadow: 5px 5px 7px black;
    background:var(--back);
    border:2px rgb(86, 62, 19) solid;
}
#another_box{
    height:100svh;
    width:50svw;
    position:relative;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 5rem;
}
.tag{
    justify-content: space-between;
    width:15rem;
    height:10rem;
    background:var(--background2);
    box-shadow: 4px 4px 7px rgb(106, 55, 29),-4px -4px 7px rgb(106, 55, 29);
    border-radius: 2rem;
    text-align: center;
    padding-top:50px;
    font-size: 2em;
    font-weight: 600;
    color:var(--text);
}
.tag::after{
    content:" ";
    position:relative;
    bottom:10.7rem;
    right:1rem;
    height:12rem;
    width:17rem;
    border:3px brown double;
    filter:blur(0.5px);
    box-shadow: inset -5px -5px 7px rgb(87, 84, 23),
    inset 5px 5px 7px rgb(67, 64, 19),inset 7px 7px 2px white;
    border-radius:3rem;
    display:flex;
    justify-content: flex-start;
    align-self: flex-start;
    z-index:10;
}
.tag::before{
    content:" ";
    position: relative;
    height:3rem;
    width:10rem;
    box-shadow: -20px -20px rgb(111, 82, 52);
    border-radius: 2rem;
    display:flex;
    justify-content:flex-start;
    align-content:flex-start;
}
#one{
    width:17rem;
}
#one::after{
    width:18.8rem;
}
#three{
    width:20rem;
    font-size: 2em;
    margin-left:100px;
}
#three::before{
    width:20rem;
}
#three::after{
    position:relative;
    width:22rem;

}
.tag:hover{
    text-shadow:4px 4px rgb(241, 234, 234);
    background:var(--back);
    transition:background 0.7s,color 0.7s;
    box-shadow: inset -6px -6px 6px rgb(75, 65, 45);
    border: none;
}
a{
   text-decoration: none;
   color:rgb(71, 35, 6);
}
li{
    padding:2rem 6rem 3rem 6rem;
    list-style-type: none;
    border-radius: 2rem;
    border: 3.4px #f7f7f7 double;
    margin-bottom:3rem;
    color:#f3ede6;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}
#sidebar_two,#sidebar{
    position:absolute;
    top:14rem;
    left:-200px;
    transform:translateX(-80rem);
    transition:transform 1s;
}
#box.clicked ,
.fashion_tag.clicked,
.Setting_tag.clicked{
    background-color: rgb(197, 140, 87);
    background-image:url("kraya room/one.jpg"),url("kraya room/twentyNine.jpg");
    background-repeat: no-repeat;
    background-position: left bottom,right;
    background-size: 18rem,30rem 46rem;
    background-blend-mode: color-burn;
    content-visibility: hidden;
    transition:background 1s;
}
li:hover{
    background-color: rgba(234, 177, 119, 0.778);
}
#inject{
    position:absolute;
    top:5%;
    left:20%;
    height:40rem;
    width:55rem;
    background-color: rgba(254, 233, 149, 0.441);
    box-shadow: 20px 20px 60px #00000041,inset -20px -20px #f8dc7041;
    z-index:-30;
    display:flex;
    border-radius: 2rem;
    transform: translate(-100rem);
}
#inject::after{
    content: " ";
    height:37rem;
    width:50rem;
    position:absolute;
    top:24px;
    left:40px;
    box-shadow: 20px 20px 60px #00000041,inset -20px -20px #f8dc7041;
    border-radius: 2rem;
    z-index: -31;
}
#cancel{
    height:3rem;
    width:3rem;
    position:absolute;
    left:58.4rem;
}
.cross{
    height:0.5rem;
    width:3rem;
    background-color: #ffffff; 
}
#fcross{
    position:absolute;
    transform:rotate(45deg);
}
#scross{
    transform:rotate(-41deg);
}


@media (max-width:1306px) and (min-width:830px) {
    #another_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        position: relative;
    }

    .tag {
        height: 5rem;
        width: 10rem;
        border-radius: 1.5rem;
    }

    .tag::after {
        position: relative;
        top: -6.4rem;
        height: 6rem;
        width: 12rem;
        border-radius: 1.5rem;
    }

    .tag::before {
        position: absolute;
        height: 0.3rem;
        width: 9rem;
    }

    #one {
        width: 10rem;
        font-size: 1.6em;
    }

    #one::after {
        width: 12rem;
    }

    #three {
        width: 10rem;
        font-size: 2em;
        margin-left: 10px;
    }

    #three::before {
        width: 8rem;
    }

    #three::after {
        position: relative;
        width: 12rem;
    }

    #text {
        font-size: 5em;
        font-weight: 800;
    }

    #wrap {
        width: 25rem;
    }
    #sidebar,#sidebar_two{
        position:absolute;
        left:0rem;
    }
    li{
        position:relative;
        top:2rem;
        left:10rem;
        padding:1rem 2rem 1rem 2rem;
        font-size: 1em;
    }

    #inject {
        height: 80%;
        width: 80%;
    }

    #inject::after {
        height: 80%;
        width:80%;
    }

    #cancel {
        height: 3rem;
        width: 3rem;
        position: absolute;
        left: -4rem;
    }
    #contact{
        display:flex;
        flex-wrap: wrap;
        position:relative;
        left:50%;
    }
}

@media (max-width:830px) and (min-width:640px) {
    #another_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        position: relative;
        height:80%;
        top:20%;
    }

    .tag {
        height: 5rem;
        width: 10rem;
        border-radius: 1.5rem;
    }

    .tag::after {
        position: relative;
        top: -6.4rem;
        height: 6rem;
        width: 12rem;
        border-radius: 1.5rem;
    }

    .tag::before {
        position: absolute;
        height: 0.3rem;
        width: 9rem;
    }

    #one {
        width: 10rem;
        font-size: 1.6em;
    }

    #one::after {
        width: 12rem;
    }

    #three {
        width: 10rem;
        font-size: 2em;
        margin-left: 10px;
    }

    #three::before {
        width: 8rem;
    }

    #three::after {
        position: relative;
        width: 12rem;
    }


    #text {
        position: absolute;
        top: 2rem;
        left: 2rem;
        font-size: 2em;
        font-weight: 500;
    }

    #wrap {
        top: 4.5rem;
        left: 20%;
        position: absolute;
        width: 60%;
        z-index: 10;
    }

    input[type='button'] {
        width: 3rem;
        height: 2rem;
        font-size: 0.6em;
        padding: 2px;
        border-radius: 0.7rem;
    }
    li{
        position:relative;
        top:2rem;
        left:14rem;
        padding:1rem 1.6rem 1rem 2rem;
    }
    #sidebar,#sidebar_two{
        position:absolute;
        left:0rem;
    }

    #inject {
        height: 80%;
        width: 80%;
    }

    #inject::after {
        height: 80%;
        width:80%;
    }

    #cancel {
        height: 3rem;
        width: 3rem;
        position: absolute;
        left: -4rem;
    }

    #contact{
        display:flex;
        flex-wrap: wrap;
        position:relative;
        left:75%;
    } 
}
@media (max-width:640px) and (min-width:200px) {
    #container{
        width:100svw;
        height:100svh;
        background-color: #d1c3a5;
        background-image: url("kraya room/twentySeven.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-blend-mode: color-burn;
        display:flex;
    }
    
    #text {
        position: absolute;
        top: 2rem;
        left: 2rem;
        font-size: 2em;
        font-weight: 500;
        text-shadow: 2px 1px 0 rgb(69, 34, 1),
        -2px 2px 0 rgb(239, 231, 222),
        2px -2px 0 rgb(54, 25, 4);
    }

    #wrap {
        top: 4.5rem;
        left: 15%;
        position: absolute;
        width:70%;
        z-index: 10;
    }

    #another_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tag {
        height: 2rem;
        width: 5rem;
        border-radius: 1.5rem;
        font-size: large;
        padding-top: 0;
        border-radius: 0.6rem;
        text-align: center;
    }

    .tag::after {
        position: relative;
        top: -4.5rem;
        height: 3rem;
        width: 6.7rem;
        border-radius: 1.5rem;
        margin-top: 2.4rem;
        border-radius: 1rem;
    }

    .tag::before {
        display: none;
    }

    #one {
        width: 7rem;
        font-size: large;
    }

    #one::after {
        width: 8.5rem;
    }

    #three {
        width: 5rem;
        font-size: large;
        margin-left: 10px;
    }

    #three::before {
        display: none;
    }

    #three::after {
        position: relative;
        width: 6.4rem;
    }

    #box.clicked,
    .fashion_tag.clicked,
    .Setting_tag.clicked {
        position: absolute;
        top:40%;
        width:100%;
        background-image: url("kraya room/twentyNine.jpg");
    }

    li {
        position: relative;
        top: 10rem;
        left: 35rem;
        padding: 1rem 2rem 1rem 2rem;
        font-size: 1em;
    }

    input[type='button'] {
        width: 3rem;
        height: 2rem;
        font-size: 0.6em;
        padding: 2px;
        border-radius: 0.7rem;
    }

    #sidebar,#sidebar_two{
        position:absolute;
        left:0rem;
    }

    #inject {
        height: 80%;
        width: 80%;
    }

    #inject::after {
        height: 80%;
        width:80%;
    }

    #cancel {
        height: 3rem;
        width: 3rem;
        position: absolute;
        left: -4rem;
    }
    #contact{
        display:flex;
        flex-wrap: wrap;
        position:relative;
        top: 15rem;
        left: 35rem;
    }
}
